In [1]:
import pandas as pd
from pathlib import Path

In [2]:
#calling in the 2019 pesticides table
pesticides_df = pd.read_csv(Path("2019_pesticide_by_county.csv"))
pesticides_df.head()

,AREA_FIPS_CODE,"2,4-D",ACEPHATE,ACETAMIPRID,ACETOCHLOR,ATRAZINE,AZOXYSTROBIN,BENTAZONE,BENZOVINDIFLUPYR,BOSCALID,...,TEBUCONAZOLE,TEBUPIRIMPHOS,TEBUTHIURON,TERBUFOS,TETRACONAZOLE,THIAMETHOXAM,THIOBENCARB,TRICLOPYR,TRIFLOXYSTROBIN,Grand Total
0,10001,12874.8,NaN,NaN,8918.9,32489.9,967.9,NaN,16.2,NaN,...,621.0,NaN,NaN,1895.9,NaN,NaN,NaN,NaN,226.1,213302.8
1,10003,1424.7,2.4,0.9,3130.3,8243.2,301.5,NaN,20.8,NaN,...,189.4,NaN,NaN,637.7,NaN,NaN,NaN,28.5,76.1,64162.0
2,10005,66354.3,NaN,NaN,30403.2,134910.1,3632.5,NaN,31.4,NaN,...,714.7,NaN,NaN,3671.2,NaN,NaN,NaN,NaN,437.9,648243.1
3,12001,12562.9,NaN,NaN,NaN,557.2,342.9,25.4,8.5,114.3,...,663.9,NaN,NaN,78.6,NaN,43.9,NaN,230.5,1.3,25143.6
4,12003,1576.3,NaN,NaN,26.6,146.7,119.0,NaN,17.0,0.1,...,3.8,NaN,NaN,41.8,1.0,NaN,NaN,195.8,0.5,3345.0

In [3]:
#filling in the null values with a 0
pesticides_df = pesticides_df.fillna(0)
pesticides_df.head()

,AREA_FIPS_CODE,"2,4-D",ACEPHATE,ACETAMIPRID,ACETOCHLOR,ATRAZINE,AZOXYSTROBIN,BENTAZONE,BENZOVINDIFLUPYR,BOSCALID,...,TEBUCONAZOLE,TEBUPIRIMPHOS,TEBUTHIURON,TERBUFOS,TETRACONAZOLE,THIAMETHOXAM,THIOBENCARB,TRICLOPYR,TRIFLOXYSTROBIN,Grand Total
0,10001,12874.8,0.0,0.0,8918.9,32489.9,967.9,0.0,16.2,0.0,...,621.0,0.0,0.0,1895.9,0.0,0.0,0.0,0.0,226.1,213302.8
1,10003,1424.7,2.4,0.9,3130.3,8243.2,301.5,0.0,20.8,0.0,...,189.4,0.0,0.0,637.7,0.0,0.0,0.0,28.5,76.1,64162.0
2,10005,66354.3,0.0,0.0,30403.2,134910.1,3632.5,0.0,31.4,0.0,...,714.7,0.0,0.0,3671.2,0.0,0.0,0.0,0.0,437.9,648243.1
3,12001,12562.9,0.0,0.0,0.0,557.2,342.9,25.4,8.5,114.3,...,663.9,0.0,0.0,78.6,0.0,43.9,0.0,230.5,1.3,25143.6
4,12003,1576.3,0.0,0.0,26.6,146.7,119.0,0.0,17.0,0.1,...,3.8,0.0,0.0,41.8,1.0,0.0,0.0,195.8,0.5,3345.0

In [4]:
#looking at each of the different column names/dataframe info
pesticides_df.info

<bound method DataFrame.info of      AREA_FIPS_CODE       2,4-D   ACEPHATE  ACETAMIPRID  ACETOCHLOR  \
0             10001     12874.8        0.0          0.0      8918.9
1             10003      1424.7        2.4          0.9      3130.3
2             10005     66354.3        0.0          0.0     30403.2
3             12001     12562.9        0.0          0.0         0.0
4             12003      1576.3        0.0          0.0        26.6
...             ...         ...        ...          ...         ...
3059          09009       166.7        0.0         26.6        90.7
3060          09011       398.3        0.0          6.3       687.2
3061          09013       283.1        0.0          9.9       506.8
3062          09015       340.2        0.0         12.6       620.8
3063    Grand Total  22361443.9  5855133.4      66748.7  27712782.3

        ATRAZINE  AZOXYSTROBIN  BENTAZONE  BENZOVINDIFLUPYR  BOSCALID  ...  \
0        32489.9         967.9        0.0              16.2       0.0  ...
1         8243.2         301.5        0.0              20.8       0.0  ...
2       134910.1        3632.5        0.0              31.4       0.0  ...
3          557.2         342.9       25.4               8.5     114.3  ...
4          146.7         119.0        0.0              17.0       0.1  ...
...          ...           ...        ...               ...       ...  ...
3059       176.8           0.1        0.0               0.0      15.7  ...
3060      1137.6           0.1        0.0               0.0       3.2  ...
3061       841.1           0.0        0.0               0.0       2.5  ...
3062      1019.1           0.0        0.0               0.0       7.6  ...
3063  33663059.4     1301556.7  1058728.9          150928.9  372891.2  ...

      TEBUCONAZOLE  TEBUPIRIMPHOS  TEBUTHIURON  TERBUFOS  TETRACONAZOLE  \
0            621.0            0.0          0.0    1895.9            0.0
1            189.4            0.0          0.0     637.7            0.0
2            714.7            0.0          0.0    3671.2            0.0
3            663.9            0.0          0.0      78.6            0.0
4              3.8            0.0          0.0      41.8            1.0
...            ...            ...          ...       ...            ...
3059           0.0            0.0          0.0       0.0            0.0
3060           0.0            0.0          0.0       0.0            0.0
3061           0.0            0.0          0.0       0.0            0.0
3062           0.0            0.0          0.0       0.0            0.0
3063      892076.7       112394.9       1932.1  768589.7       108574.2

      THIAMETHOXAM  THIOBENCARB  TRICLOPYR  TRIFLOXYSTROBIN  Grand Total
0              0.0          0.0        0.0            226.1     213302.8
1              0.0          0.0       28.5             76.1      64162.0
2              0.0          0.0        0.0            437.9     648243.1
3             43.9          0.0      230.5              1.3      25143.6
4              0.0          0.0      195.8              0.5       3345.0
...            ...          ...        ...              ...          ...
3059           3.3          0.0        0.0              9.4       1605.5
3060           2.2          0.0        0.0              1.7       8412.2
3061           6.3          0.0        0.0              1.5       6374.4
3062           2.1          0.0        0.0              4.5       7610.0
3063      145243.1     780582.2  1039730.6         471080.4  341070497.0

[3064 rows x 71 columns]>

In [5]:
#looking at each column name
pesticides_df.columns

Index(['AREA_FIPS_CODE', '2,4-D', 'ACEPHATE', 'ACETAMIPRID', 'ACETOCHLOR',
       'ATRAZINE', 'AZOXYSTROBIN', 'BENTAZONE', 'BENZOVINDIFLUPYR', 'BOSCALID',
       'BROMACIL', 'BROMOXYNIL', 'CARBARYL', 'CHLORANTRANILIPROLE',
       'CHLORIMURON', 'CHLORPYRIFOS', 'CLOTHIANIDIN', 'CYANTRANILIPROLE',
       'CYPRODINIL', 'DIAZINON', 'DICAMBA', 'DICROTOPHOS', 'DIFLUBENZURON',
       'DIMETHENAMID', 'DIMETHENAMID & DIMETHENAMID-P', 'DIMETHENAMID-P',
       'DIMETHOATE', 'DIMETHOMORPH', 'DINOTEFURAN', 'DIURON', 'ETHOPROPHOS',
       'ETOXAZOLE', 'FIPRONIL', 'FLUOMETURON', 'FLUOPICOLIDE', 'GLYPHOSATE',
       'HALOSULFURON', 'HEXAZINONE', 'IMAZETHAPYR', 'IMIDACLOPRID', 'LINURON',
       'MALATHION', 'METALAXYL', 'METCONAZOLE', 'METHOMYL', 'METHOXYFENOZIDE',
       'METOLACHLOR', 'METOLACHLOR & METOLACHLOR-S', 'METOLACHLOR-S',
       'METRIBUZIN', 'MYCLOBUTANIL', 'ORYZALIN', 'PERMETHRIN',
       'PIPERONYL BUTOXIDE', 'PROPAZINE', 'PROPICONAZOLE', 'PYRACLOSTROBIN',
       'PYRIMETHANIL', 'SIMAZINE', 'SULFENTRAZONE', 'SULFOXAFLOR',
       'TEBUCONAZOLE', 'TEBUPIRIMPHOS', 'TEBUTHIURON', 'TERBUFOS',
       'TETRACONAZOLE', 'THIAMETHOXAM', 'THIOBENCARB', 'TRICLOPYR',
       'TRIFLOXYSTROBIN', 'Grand Total'],
      dtype='object')

In [6]:
#dropping the grand total column since we don't really need it
pesticides_df = pesticides_df.drop(columns = "Grand Total")
pesticides_df

,AREA_FIPS_CODE,"2,4-D",ACEPHATE,ACETAMIPRID,ACETOCHLOR,ATRAZINE,AZOXYSTROBIN,BENTAZONE,BENZOVINDIFLUPYR,BOSCALID,...,SULFOXAFLOR,TEBUCONAZOLE,TEBUPIRIMPHOS,TEBUTHIURON,TERBUFOS,TETRACONAZOLE,THIAMETHOXAM,THIOBENCARB,TRICLOPYR,TRIFLOXYSTROBIN
0,10001,12874.8,0.0,0.0,8918.9,32489.9,967.9,0.0,16.2,0.0,...,0.0,621.0,0.0,0.0,1895.9,0.0,0.0,0.0,0.0,226.1
1,10003,1424.7,2.4,0.9,3130.3,8243.2,301.5,0.0,20.8,0.0,...,0.0,189.4,0.0,0.0,637.7,0.0,0.0,0.0,28.5,76.1
2,10005,66354.3,0.0,0.0,30403.2,134910.1,3632.5,0.0,31.4,0.0,...,0.0,714.7,0.0,0.0,3671.2,0.0,0.0,0.0,0.0,437.9
3,12001,12562.9,0.0,0.0,0.0,557.2,342.9,25.4,8.5,114.3,...,2.7,663.9,0.0,0.0,78.6,0.0,43.9,0.0,230.5,1.3
4,12003,1576.3,0.0,0.0,26.6,146.7,119.0,0.0,17.0,0.1,...,0.5,3.8,0.0,0.0,41.8,1.0,0.0,0.0,195.8,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3059,09009,166.7,0.0,26.6,90.7,176.8,0.1,0.0,0.0,15.7,...,0.0,0.0,0.0,0.0,0.0,0.0,3.3,0.0,0.0,9.4
3060,09011,398.3,0.0,6.3,687.2,1137.6,0.1,0.0,0.0,3.2,...,0.0,0.0,0.0,0.0,0.0,0.0,2.2,0.0,0.0,1.7
3061,09013,283.1,0.0,9.9,506.8,841.1,0.0,0.0,0.0,2.5,...,0.0,0.0,0.0,0.0,0.0,0.0,6.3,0.0,0.0,1.5
3062,09015,340.2,0.0,12.6,620.8,1019.1,0.0,0.0,0.0,7.6,...,0.0,0.0,0.0,0.0,0.0,0.0,2.1,0.0,0.0,4.5
3063,Grand Total,22361443.9,5855133.4,66748.7,27712782.3,33663059.4,1301556.7,1058728.9,150928.9,372891.2,...,91034.5,892076.7,112394.9,1932.1,768589.7,108574.2,145243.1,780582.2,1039730.6,471080.4

In [7]:
#creatng variables to hold specific columns that fall within that category 
insecticides = pesticides_df[["ACEPHATE", "ACETAMIPRID", "CARBARYL","CHLORANTRANILIPROLE",
                              "CHLORPYRIFOS","CLOTHIANIDIN","CYANTRANILIPROLE",
                              "DIAZINON","DICROTOPHOS","DIFLUBENZURON","DIMETHOATE",
                              "DINOTEFURAN","ETHOPROPHOS","ETOXAZOLE","FIPRONIL",
                              "IMIDACLOPRID","MALATHION","METHOMYL","METHOXYFENOZIDE",
                              "PERMETHRIN","SULFOXAFLOR","TEBUPIRIMPHOS","TERBUFOS",
                              "THIAMETHOXAM"]]
herbicides = pesticides_df[["2,4-D","ACETOCHLOR","ATRAZINE","BENTAZONE",
                            "BROMACIL","BROMOXYNIL","CHLORIMURON","DICAMBA",
                            "DIMETHENAMID","DIMETHENAMID & DIMETHENAMID-P",
                            "DIMETHENAMID-P","DIURON","FLUOMETURON","GLYPHOSATE",
                           "HALOSULFURON","HEXAZINONE","IMAZETHAPYR","LINURON","METOLACHLOR",
                           "METOLACHLOR & METOLACHLOR-S","METOLACHLOR-S","METRIBUZIN",
                           "ORYZALIN","PROPAZINE","SIMAZINE","SULFENTRAZONE","TEBUTHIURON",
                           "THIOBENCARB","TRICLOPYR"]]
fungicides = pesticides_df[["AZOXYSTROBIN","BENZOVINDIFLUPYR","BOSCALID","CYPRODINIL",
                           "DIMETHOMORPH","FLUOPICOLIDE","METALAXYL","METCONAZOLE",
                           "MYCLOBUTANIL","PROPICONAZOLE","PYRACLOSTROBIN","PYRIMETHANIL",
                           "TEBUCONAZOLE","TETRACONAZOLE","TRIFLOXYSTROBIN"]]
adjuvant = pesticides_df["PIPERONYL BUTOXIDE"]

In [8]:
#creating a new column into the pesticides_df referencing the created variables above
pesticides_df['Insecticide Sum'] = insecticides.sum(axis=1)
pesticides_df['Herbicide Sum'] = herbicides.sum(axis=1)
pesticides_df['Fungicide Sum'] = fungicides.sum(axis=1)
pesticides_df['Adjuvant Sum'] = adjuvant
pesticides_df.head()

,AREA_FIPS_CODE,"2,4-D",ACEPHATE,ACETAMIPRID,ACETOCHLOR,ATRAZINE,AZOXYSTROBIN,BENTAZONE,BENZOVINDIFLUPYR,BOSCALID,...,TERBUFOS,TETRACONAZOLE,THIAMETHOXAM,THIOBENCARB,TRICLOPYR,TRIFLOXYSTROBIN,Insecticide Sum,Herbicide Sum,Fungicide Sum,Adjuvant Sum
0,10001,12874.8,0.0,0.0,8918.9,32489.9,967.9,0.0,16.2,0.0,...,1895.9,0.0,0.0,0.0,0.0,226.1,5800.7,203083.5,4418.6,0.0
1,10003,1424.7,2.4,0.9,3130.3,8243.2,301.5,0.0,20.8,0.0,...,637.7,0.0,0.0,0.0,28.5,76.1,1935.5,60729.8,1496.7,0.0
2,10005,66354.3,0.0,0.0,30403.2,134910.1,3632.5,0.0,31.4,0.0,...,3671.2,0.0,0.0,0.0,0.0,437.9,10419.4,629484.6,8339.1,0.0
3,12001,12562.9,0.0,0.0,0.0,557.2,342.9,25.4,8.5,114.3,...,78.6,0.0,43.9,0.0,230.5,1.3,3536.4,20414.3,1192.9,0.0
4,12003,1576.3,0.0,0.0,26.6,146.7,119.0,0.0,17.0,0.1,...,41.8,1.0,0.0,0.0,195.8,0.5,246.9,2861.0,237.1,0.0

In [9]:
pesticides_df = pesticides_df.rename(columns = {'AREA_FIPS_CODE': 'FIPS'})
pesticides_df

,FIPS,"2,4-D",ACEPHATE,ACETAMIPRID,ACETOCHLOR,ATRAZINE,AZOXYSTROBIN,BENTAZONE,BENZOVINDIFLUPYR,BOSCALID,...,TERBUFOS,TETRACONAZOLE,THIAMETHOXAM,THIOBENCARB,TRICLOPYR,TRIFLOXYSTROBIN,Insecticide Sum,Herbicide Sum,Fungicide Sum,Adjuvant Sum
0,10001,12874.8,0.0,0.0,8918.9,32489.9,967.9,0.0,16.2,0.0,...,1895.9,0.0,0.0,0.0,0.0,226.1,5800.7,203083.5,4418.6,0.0
1,10003,1424.7,2.4,0.9,3130.3,8243.2,301.5,0.0,20.8,0.0,...,637.7,0.0,0.0,0.0,28.5,76.1,1935.5,60729.8,1496.7,0.0
2,10005,66354.3,0.0,0.0,30403.2,134910.1,3632.5,0.0,31.4,0.0,...,3671.2,0.0,0.0,0.0,0.0,437.9,10419.4,629484.6,8339.1,0.0
3,12001,12562.9,0.0,0.0,0.0,557.2,342.9,25.4,8.5,114.3,...,78.6,0.0,43.9,0.0,230.5,1.3,3536.4,20414.3,1192.9,0.0
4,12003,1576.3,0.0,0.0,26.6,146.7,119.0,0.0,17.0,0.1,...,41.8,1.0,0.0,0.0,195.8,0.5,246.9,2861.0,237.1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3059,09009,166.7,0.0,26.6,90.7,176.8,0.1,0.0,0.0,15.7,...,0.0,0.0,3.3,0.0,0.0,9.4,291.6,1223.7,90.2,0.0
3060,09011,398.3,0.0,6.3,687.2,1137.6,0.1,0.0,0.0,3.2,...,0.0,0.0,2.2,0.0,0.0,1.7,430.0,7897.6,84.6,0.0
3061,09013,283.1,0.0,9.9,506.8,841.1,0.0,0.0,0.0,2.5,...,0.0,0.0,6.3,0.0,0.0,1.5,374.8,5903.3,96.3,0.0
3062,09015,340.2,0.0,12.6,620.8,1019.1,0.0,0.0,0.0,7.6,...,0.0,0.0,2.1,0.0,0.0,4.5,448.0,7066.4,95.6,0.0
3063,Grand Total,22361443.9,5855133.4,66748.7,27712782.3,33663059.4,1301556.7,1058728.9,150928.9,372891.2,...,768589.7,108574.2,145243.1,780582.2,1039730.6,471080.4,14598036.4,320204392.9,6266201.4,1866.3

In [11]:
reduced_pesticides = pesticides_df[['FIPS', 'Insecticide Sum', 'Herbicide Sum', 'Fungicide Sum', 'Adjuvant Sum']]
reduced_pesticides

             FIPS  Insecticide Sum  Herbicide Sum  Fungicide Sum  Adjuvant Sum
0           10001           5800.7       203083.5         4418.6           0.0
1           10003           1935.5        60729.8         1496.7           0.0
2           10005          10419.4       629484.6         8339.1           0.0
3           12001           3536.4        20414.3         1192.9           0.0
4           12003            246.9         2861.0          237.1           0.0
...           ...              ...            ...            ...           ...
3059        09009            291.6         1223.7           90.2           0.0
3060        09011            430.0         7897.6           84.6           0.0
3061        09013            374.8         5903.3           96.3           0.0
3062        09015            448.0         7066.4           95.6           0.0
3063  Grand Total       14598036.4    320204392.9      6266201.4        1866.3

[3064 rows x 5 columns]

In [12]:
reduced_pesticides.dtypes

FIPS                object
Insecticide Sum    float64
Herbicide Sum      float64
Fungicide Sum      float64
Adjuvant Sum       float64
dtype: object

In [13]:
#calling in the cancer csv
cancer_df = pd.read_csv(Path("cancer_cleaned.csv"))
cancer_df.head()

,County,FIPS,"Age-Adjusted Incidence Rate([rate note]) - cases per 100,000",Lower 95% Confidence Interval,Upper 95% Confidence Interval,CI*Rank([rank note]),Lower CI (CI*Rank),Upper CI (CI*Rank),Average Annual Count,Recent Trend,...,Unnamed: 88,Unnamed: 89,Unnamed: 90,Unnamed: 91,Unnamed: 92,Unnamed: 93,Unnamed: 94,Unnamed: 95,Unnamed: 96,Unnamed: 97
0,US (SEER+NPCR)(1),0.0,442.3,442,442.6,N/A,N/A,N/A,1698328,stable,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Union County, Florida(6)",12125.0,1237.4,1165.6,1312.8,N/A,1,1,237,stable,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Palo Alto County, Iowa(7)",19147.0,658.1,591.1,731.1,N/A,1,6,82,rising,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Treasure County, Montana(6)",30103.0,652.2,401,1007.4,N/A,1,55,7,stable,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Polk County, Texas(7)",48373.0,633.6,604.6,663.7,N/A,1,4,425,rising,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
#looking at the columns of the cancer df
cancer_df.columns

Index(['County', ' FIPS',
       'Age-Adjusted Incidence Rate([rate note]) - cases per 100,000',
       'Lower 95% Confidence Interval', 'Upper 95% Confidence Interval',
       'CI*Rank([rank note])', 'Lower CI (CI*Rank)', 'Upper CI (CI*Rank)',
       'Average Annual Count', 'Recent Trend',
       'Recent 5-Year Trend ([trend note]) in Incidence Rates',
       'Lower 95% Confidence Interval.1', 'Upper 95% Confidence Interval.1',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20',
       'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24',
       'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28',
       'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32',
       'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36',
       'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40',
       'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44',
       'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48',
       'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52',
       'Unnamed: 53', 'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56',
       'Unnamed: 57', 'Unnamed: 58', 'Unnamed: 59', 'Unnamed: 60',
       'Unnamed: 61', 'Unnamed: 62', 'Unnamed: 63', 'Unnamed: 64',
       'Unnamed: 65', 'Unnamed: 66', 'Unnamed: 67', 'Unnamed: 68',
       'Unnamed: 69', 'Unnamed: 70', 'Unnamed: 71', 'Unnamed: 72',
       'Unnamed: 73', 'Unnamed: 74', 'Unnamed: 75', 'Unnamed: 76',
       'Unnamed: 77', 'Unnamed: 78', 'Unnamed: 79', 'Unnamed: 80',
       'Unnamed: 81', 'Unnamed: 82', 'Unnamed: 83', 'Unnamed: 84',
       'Unnamed: 85', 'Unnamed: 86', 'Unnamed: 87', 'Unnamed: 88',
       'Unnamed: 89', 'Unnamed: 90', 'Unnamed: 91', 'Unnamed: 92',
       'Unnamed: 93', 'Unnamed: 94', 'Unnamed: 95', 'Unnamed: 96',
       'Unnamed: 97'],
      dtype='object')

In [15]:
#reducing the columns to only the ones that we want to look at 
reduced_cancer = cancer_df[["County", " FIPS", "Age-Adjusted Incidence Rate([rate note]) - cases per 100,000"]]
reduced_cancer.head()

,County,FIPS,"Age-Adjusted Incidence Rate([rate note]) - cases per 100,000"
0,US (SEER+NPCR)(1),0.0,442.3
1,"Union County, Florida(6)",12125.0,1237.4
2,"Palo Alto County, Iowa(7)",19147.0,658.1
3,"Treasure County, Montana(6)",30103.0,652.2
4,"Polk County, Texas(7)",48373.0,633.6

In [16]:
#renaming the columns to be more legible/short
renamed_cancer = reduced_cancer.rename(columns = {' FIPS': 'FIPS', 'Age-Adjusted Incidence Rate([rate note]) - cases per 100,000':'Cancer Incidence Rate Per 100k'})
renamed_cancer.head(30)

,County,FIPS,Cancer Incidence Rate Per 100k
0,US (SEER+NPCR)(1),0.0,442.3
1,"Union County, Florida(6)",12125.0,1237.4
2,"Palo Alto County, Iowa(7)",19147.0,658.1
3,"Treasure County, Montana(6)",30103.0,652.2
4,"Polk County, Texas(7)",48373.0,633.6
5,"Floyd County, Kentucky(7)",21071.0,616.8
6,"Logan County, Nebraska(6)",31113.0,609.8
7,"Lawrence County, Arkansas(6)",5075.0,599.8
8,"Powell County, Kentucky(7)",21197.0,597.4
9,"Blaine County, Nebraska(6)",31009.0,595.9
10,"Golden Valley County, Montana(6)",30037.0,589.6
11,"Lincoln County, Kentucky(7)",21137.0,584.7
12,"Logan County, West Virginia(6)",54045.0,583.8
13,"Lowndes County, Alabama(6)",1085.0,583.5
14,"Mercer County, Kentucky(7)",21167.0,581.5
15,"Perry County, Kentucky(7)",21193.0,578.1
16,"Fleming County, Kentucky(7)",21069.0,576
17,"Grant County, Kentucky(7)",21081.0,575.7
18,"Pickens County, Georgia(7)",13227.0,575.3
19,"Adams County, Wisconsin(6)",55001.0,575.1
20,"Owsley County, Kentucky(7)",21189.0,574.9
21,"Bath County, Kentucky(7)",21011.0,574.8
22,"Lee County, Kentucky(7)",21129.0,574.7
23,"Lee County, Georgia(7)",13177.0,573.6
24,"Monroe County, Kentucky(7)",21171.0,572.4
25,"Yukon-Koyukuk Census Area, Alaska(6)",2290.0,569
26,"Livingston County, Kentucky(7)",21139.0,568.9
27,"Scott County, Illinois(7)",17171.0,568.6
28,"Taylor County, Kentucky(7)",21217.0,568.1
29,"Cass County, Iowa(7)",19029.0,567.8

In [17]:
#looking at the tail of the dataframe since majority of the null values are at the end
renamed_cancer.tail(30)

     County  FIPS Cancer Incidence Rate Per 100k
3146    NaN   NaN                            NaN
3147    NaN   NaN                            NaN
3148    NaN   NaN                            NaN
3149    NaN   NaN                            NaN
3150    NaN   NaN                            NaN
3151    NaN   NaN                            NaN
3152    NaN   NaN                            NaN
3153    NaN   NaN                            NaN
3154    NaN   NaN                            NaN
3155    NaN   NaN                            NaN
3156    NaN   NaN                            NaN
3157    NaN   NaN                            NaN
3158    NaN   NaN                            NaN
3159    NaN   NaN                            NaN
3160    NaN   NaN                            NaN
3161    NaN   NaN                            NaN
3162    NaN   NaN                            NaN
3163    NaN   NaN                            NaN
3164    NaN   NaN                            NaN
3165    NaN   NaN                            NaN
3166    NaN   NaN                            NaN
3167    NaN   NaN                            NaN
3168    NaN   NaN                            NaN
3169    NaN   NaN                            NaN
3170    NaN   NaN                            NaN
3171    NaN   NaN                            NaN
3172    NaN   NaN                            NaN
3173    NaN   NaN                            NaN
3174    NaN   NaN                            NaN
3175    NaN   NaN                            NaN

In [18]:
#dropping rows where 'data not available' , notice there was an extra space after the phrase ):
value_to_drop = 'data not available '
renamed_cancer = renamed_cancer.drop(renamed_cancer[renamed_cancer['Cancer Incidence Rate Per 100k'] == value_to_drop].index)
renamed_cancer.tail()

     County  FIPS Cancer Incidence Rate Per 100k
3171    NaN   NaN                            NaN
3172    NaN   NaN                            NaN
3173    NaN   NaN                            NaN
3174    NaN   NaN                            NaN
3175    NaN   NaN                            NaN

In [19]:
#dropping the null values in the cancer df
renamed_cancer = renamed_cancer.dropna(how = 'any')
renamed_cancer.tail()

,County,FIPS,Cancer Incidence Rate Per 100k
2951,"McPherson County, Nebraska(6)",31117.0,*
3055,"San Juan County, Colorado(6)",8111.0,*
3069,"Slope County, North Dakota(6)",38087.0,*
3097,"Thomas County, Nebraska(6)",31171.0,*
3141,"Yakutat City and Borough, Alaska(6)",2282.0,*

In [20]:
#dropping the rows where theres a * (notice there was an extra space after the *)
value_to_drop = '* '
renamed_cancer = renamed_cancer.drop(renamed_cancer[renamed_cancer['Cancer Incidence Rate Per 100k'] == value_to_drop].index)
renamed_cancer.tail()

,County,FIPS,Cancer Incidence Rate Per 100k
2690,"Keweenaw County, Michigan(6)",26083.0,240
2691,"Mineral County, Colorado(6)",8079.0,235.4
2692,"Sioux County, Nebraska(6)",31165.0,192
2693,"Jeff Davis County, Texas(7)",48243.0,174.4
2694,"Aleutians East Borough, Alaska(6)",2013.0,138.9

In [21]:
renamed_cancer.head()

                        County     FIPS Cancer Incidence Rate Per 100k
0            US (SEER+NPCR)(1)      0.0                          442.3
1     Union County, Florida(6)  12125.0                         1237.4
2    Palo Alto County, Iowa(7)  19147.0                          658.1
3  Treasure County, Montana(6)  30103.0                          652.2
4        Polk County, Texas(7)  48373.0                          633.6

In [22]:
#checking the dtypes so we can perform the table merge, the FIPS column was a float before but needed to be made
#into a string(object)
renamed_cancer.dtypes

County                             object
FIPS                              float64
Cancer Incidence Rate Per 100k     object
dtype: object

In [23]:
#converting the fips column from the cancer table into a a string(object)
renamed_cancer = renamed_cancer.astype({'FIPS': str}, errors = 'raise')

In [24]:
#ensuring the data conversion was correct
renamed_cancer['FIPS'].dtype

dtype('O')

In [25]:
#changing the cancer incidence rate column into a float in case we need to do calculations with it
renamed_cancer = renamed_cancer.astype({'Cancer Incidence Rate Per 100k': float}, errors = 'raise')

In [26]:
#checking the datatype of the incidence rate column to ensure it was correctly converted into a float
renamed_cancer['Cancer Incidence Rate Per 100k'].dtype

dtype('float64')

In [27]:
#checking the cancer dataframe again
renamed_cancer.head()

                        County     FIPS  Cancer Incidence Rate Per 100k
0            US (SEER+NPCR)(1)      0.0                           442.3
1     Union County, Florida(6)  12125.0                          1237.4
2    Palo Alto County, Iowa(7)  19147.0                           658.1
3  Treasure County, Montana(6)  30103.0                           652.2
4        Polk County, Texas(7)  48373.0                           633.6

In [28]:
#checking the pesticides dataframe again
reduced_pesticides.head()

    FIPS  Insecticide Sum  Herbicide Sum  Fungicide Sum  Adjuvant Sum
0  10001           5800.7       203083.5         4418.6           0.0
1  10003           1935.5        60729.8         1496.7           0.0
2  10005          10419.4       629484.6         8339.1           0.0
3  12001           3536.4        20414.3         1192.9           0.0
4  12003            246.9         2861.0          237.1           0.0

In [29]:
#removing the trailing 0 thats in the FIPS code column in the cancer dataframe
renamed_cancer['FIPS'] = renamed_cancer['FIPS'].astype(str).str.rstrip('0').str.rstrip('.')
renamed_cancer.head()

                        County   FIPS  Cancer Incidence Rate Per 100k
0            US (SEER+NPCR)(1)      0                           442.3
1     Union County, Florida(6)  12125                          1237.4
2    Palo Alto County, Iowa(7)  19147                           658.1
3  Treasure County, Montana(6)  30103                           652.2
4        Polk County, Texas(7)  48373                           633.6

In [32]:
#merging the dataframes now that the datatypes and common column matches up
merged_df = pd.merge(renamed_cancer, reduced_pesticides, on = 'FIPS')
merged_df.head(100)

,County,FIPS,Cancer Incidence Rate Per 100k,Insecticide Sum,Herbicide Sum,Fungicide Sum,Adjuvant Sum
0,"Union County, Florida(6)",12125,1237.4,253.1,7146.6,241.5,0.0
1,"Palo Alto County, Iowa(7)",19147,658.1,5897.5,269873.7,4271.9,0.0
2,"Treasure County, Montana(6)",30103,652.2,839.8,76881.9,488.3,0.0
3,"Polk County, Texas(7)",48373,633.6,1.2,1694.6,1.6,0.0
4,"Floyd County, Kentucky(7)",21071,616.8,4.2,812.9,3.8,0.0
...,...,...,...,...,...,...,...
95,"Sangamon County, Illinois(7)",17167,539.8,13508.8,495801.7,3940.9,0.0
96,"Hernando County, Florida(6)",12053,539.6,984.0,8031.6,158.8,0.0
97,"Grenada County, Mississippi(6)",28043,539.2,5770.2,49584.0,165.1,0.0
98,"Harrison County, Kentucky(7)",21097,539.1,361.7,20341.0,280.2,0.0
99,"Tishomingo County, Mississippi(6)",28141,538.5,962.4,19365.6,55.0,0.0

In [31]:
#checking the dataframe info just to see how many rows were maintained after the merge
merged_df.info

<bound method DataFrame.info of                              County   FIPS  Cancer Incidence Rate Per 100k  \
0          Union County, Florida(6)  12125                          1237.4
1         Palo Alto County, Iowa(7)  19147                           658.1
2       Treasure County, Montana(6)  30103                           652.2
3             Polk County, Texas(7)  48373                           633.6
4         Floyd County, Kentucky(7)  21071                           616.8
...                             ...    ...                             ...
2365     Hooker County, Nebraska(6)  31091                           246.3
2366  Whitman County, Washington(6)  53075                           244.8
2367   Keweenaw County, Michigan(6)  26083                           240.0
2368      Sioux County, Nebraska(6)  31165                           192.0
2369    Jeff Davis County, Texas(7)  48243                           174.4

      Insecticide Sum  Herbicide Sum  Fungicide Sum  Adjuvant Sum
0               253.1         7146.6          241.5           0.0
1              5897.5       269873.7         4271.9           0.0
2               839.8        76881.9          488.3           0.0
3                 1.2         1694.6            1.6           0.0
4                 4.2          812.9            3.8           0.0
...               ...            ...            ...           ...
2365             26.4         1042.7            8.9           0.0
2366          11066.3       506012.3        48837.2           0.0
2367              2.7            2.2            0.1           0.0
2368           2130.7        28700.9          397.4           0.0
2369             65.6         6105.1           25.0           0.0

[2370 rows x 7 columns]>

In [35]:
#exporting to a csv
#merged_df.to_csv("cancer_and_pesticides.csv", index = False, header = True)