In [1]:
#import libraries
import pandas as pd

In [10]:
#import csv
cancer_by_county_df = pd.read_csv('../Data Sets/Cancer Stats By Co. Cleaned.csv')

In [11]:
cancer_by_county_df.head()

,County,FIPS,"Age-Adjusted Incidence Rate([rate note]) - cases per 100,000",Lower 95% Confidence Interval,Upper 95% Confidence Interval,CI*Rank([rank note]),Lower CI (CI*Rank),Upper CI (CI*Rank),Average Annual Count,Recent Trend,Recent 5-Year Trend ([trend note]) in Incidence Rates,Lower 95% Confidence Interval.1,Upper 95% Confidence Interval.1
0,US (SEER+NPCR)(1),0.0,442.3,442,442.6,N/A,N/A,N/A,1698328,stable,-0.3,-0.6,0.1
1,"Union County, Florida(6)",12125.0,1237.4,1165.6,1312.8,N/A,1,1,237,stable,0.6,-0.5,1.9
2,"Palo Alto County, Iowa(7)",19147.0,658.1,591.1,731.1,N/A,1,6,82,rising,4.8,0.2,15.4
3,"Treasure County, Montana(6)",30103.0,652.2,401,1007.4,N/A,1,55,7,stable,-1.1,-5.6,3.3
4,"Polk County, Texas(7)",48373.0,633.6,604.6,663.7,N/A,1,4,425,rising,2.2,1.2,4.2

In [5]:
#Delete Columns One Through

   Unnamed: 8 Unnamed: 9 Unnamed: 10 Unnamed: 11 Unnamed: 12
8     1698328     stable        -0.3        -0.6         0.1
9         237     stable         0.6        -0.5         1.9
10         82     rising         4.8         0.2        15.4
11          7     stable        -1.1        -5.6         3.3
12        425     rising         2.2         1.2         4.2